* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5256AD;
}
.wrapper {
    width: 370px;
    border-radius: 7px;
    padding: 25px 30px;
    background: #fff;
}
